In [2]:
import pandas as pd

In [35]:
path = '/Users/desiredewaele/Downloads/Test_2017-05-22T07-37-23.602Z/dataframe.csv'
names = pd.read_csv('/Users/desiredewaele/Downloads/Test_2017-05-22T07-37-23.602Z/dataframe_columns.csv', sep='|')
data = pd.read_csv(path, sep='|', names=names.name.values)
print len(data)
data.sort_values('numberOfCarLoanSalesWeb', ascending=False).head()

11794

,ID,referenceTime,filterEvaluationReferenceTime,originalSourceIds,marginCarLoans,rateCarLoans,creditCarLoans,valueCarLoans,crmId,lastName,firstName,numberOfCarLoanSalesWeb,numberOfCarLoanSalesCallCenter,numberOfCarLoanSalesBranch,numberOfCarLoanPageVisits2,numberOfCarLoanSimulations
0,-9207469791710257466,2017-05-22T07:37:23.602Z,2017-05-22T07:38:08.914Z,"[""""CRM:1300""""]",3.242550,4.803180,28911.405825,34987.924530,1300,Gately,Patrick,0,0,0,0,0
7866,5023546749707834913,2017-05-22T07:37:23.602Z,2017-05-22T07:38:08.914Z,"[""""CRM:32210""""]",3.271848,5.434611,25151.162676,30969.008781,32210,Joyce,John,0,0,0,0,0
7857,4507349718808994886,2017-05-22T07:37:23.602Z,2017-05-22T07:38:08.914Z,"[""""CRM:38708""""]",3.236438,4.938942,25905.038895,30473.680558,38708,Anderson,Jerrie,0,0,0,0,0
7858,4600915323884186355,2017-05-22T07:37:23.602Z,2017-05-22T07:38:08.914Z,"[""""CRM:46407""""]",3.346937,5.210147,26146.056146,31719.970211,46407,Carter,Gail,0,0,0,0,0
7859,4720443326064890094,2017-05-22T07:37:23.602Z,2017-05-22T07:38:08.914Z,"[""""CRM:39010""""]",3.020239,5.172698,26502.549325,32240.093083,39010,Posey,Virginia,0,0,0,0,0

In [36]:
print 'Margin', data.marginCarLoans.mean()
print 'Rate', data.rateCarLoans.mean()
print 'Value', data.valueCarLoans.mean()
print 'Credit', data.creditCarLoans.mean()

Margin 2.97690229947
Rate 4.6710016688
Value 32664.854458
Credit 27658.7912801

In [37]:
print 'Web sales', data.numberOfCarLoanSalesWeb.mean()
print 'Call center sales', data.numberOfCarLoanSalesCallCenter.mean()
print 'Branch sales', data.numberOfCarLoanSalesBranch.mean()

Web sales 0.0
Call center sales 0.0
Branch sales 0.0

In [38]:
print 'Car loan page visits', data.numberOfCarLoanPageVisits2.mean()
print 'Car loan simulations', data.numberOfCarLoanSimulations.mean()

Car loan page visits 0.0
Car loan simulations 0.0